:root .theme_dark {
  --title-text: #b4b4b4;
  --accent-color: #0079dce1;
  --button-color: var(--accent-color);
  --shadow-color: var(--accent-color);
  --button-color-hover: hsla(334, 100%, 50%, 0.4);
  --subtitle-color: #000028;
  --text-color: #e1e6f1;
  --content-subtitle-color: var(--accent-color);
  --display-rec: flex;
}

.page.theme_dark {
  background-color: var(--subtitle-color);
}

.rec {
  color: var(--button-color);
}

.rec::after {
  background-color: var(--button-color);
  box-shadow: 0 0 4px 2px var(--button-color);
}
