.preloader {
  width: 100vw;
  height: 100vh;
  background-color: red;
  position: fixed;
}

.loaded {
  background-color: transparent;
}

.page {
  background-color: var(--subtitle-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.head__place {
  display: flex;
  justify-content: space-between;
}

.logo {
  background-image: url(../images/icon3.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: 20px;
}

.article__text {
  color: var(--text-color);
  font-family: var(--font-main), sans-serif;
  font-size: var(--font-size-normal);
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;

}

.form {
  color: var(--text-color);
  font-family: var(--font-main), sans-serif;
  font-size: var(--font-size-normal);
  font-weight: 400;
  letter-spacing: 0em;

}

.section__info {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
}

.section__form {
  margin-block-start: 52px;
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.input__place {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.label {
  text-align: right;
  padding-right: 5px;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  font-family: var(--font-main), sans-serif;
  font-size: var(--font-size-normal);
  width: 294px;
  text-transform: lowercase;
  font-weight: 400;
  letter-spacing: 0em;
}

.button {
  background-color: transparent;
  border: solid 1px var(--button-color);
  font-family: var(--font-main), sans-serif;
  font-size: var(--font-size-normal);
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  min-width: 68px;
  min-height: 24px;
  padding: 0;
  color: var(--button-color);
  cursor: pointer;
  transition: 1s;
  padding-inline: 10px;
  padding-block: 5px;
  align-self: end;
}

.input[type=file]::file-selector-button {
  text-decoration: underline;
  background-color: transparent;
  border: none;
  font-family: var(--font-main), sans-serif;
  font-size: var(--font-size-normal);
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  text-transform: lowercase;
  min-width: 68px;
  min-height: 24px;
  padding: 0;
  color: var(--button-color);
  cursor: pointer;
  transition: 1s;
  padding-inline: 10px;
  padding-block: 5px;
}

.button:hover, input[type=file]::file-selector-button:hover {
  background-color: red;
}

.header {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  align-items: center;
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-block-start: 20px;
  margin-inline: 20px;
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: solid 1px transparent;
  font-family: var(--font-main), sans-serif;
  font-size: var(--font-size-normal);
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  text-transform: lowercase;
  min-width: 68px;
  min-height: 24px;
  padding: 0;
  color: var(--button-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: solid 1px transparent;
}

.header__theme-menu-button:focus-visible {
  outline: solid 1px transparent;
  border-width: 0 0 1px 0;
  border-color: var(--button-color);
  border-style: solid;
}

.header__theme-menu-button:hover {
  border: solid 1px var(--button-color-hover);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: solid 1px var(--button-color);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-block: 50px;
  height: 10vh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  text-shadow: 1.5px 1.5px 0 var(--accent-color);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: solid 1px transparent;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}



@media (max-width: 500px) {
  .input__place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__theme-menu-list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    gap: 12px;
  }
  
  
}