:root {
  --title-text: #b4b4b4;
  --accent-color: #0079dce1;
  --button-color: var(--accent-color);
  --shadow-color: var(--accent-color);
  --button-color-hover: hsla(0, 100%, 31%, 0.4);
  --subtitle-color: #000028;
  --text-color: #e1e6f1;
  --content-subtitle-color: var(--accent-color);
  --display-rec: flex;
  --font-main: Raleway;
  --font-size-normal: 18px;
  --font-size-large: 40px;
  --space: 20px;
}
